<!-- <h1> Angular</h1> -->
<!-- <input #box (keyup)="getData(box.value)" placeholder="keyup" type="text" name = "name" class="name" id="up">
<input #box1 (keydown)="getData(box1.value)" placeholder="keydown" type="text" name = "name" class="name" id="down">
<input #box3 (blur)="getData(box3.value)" placeholder="keydown" type="text" name = "name" class="name" id="blur">
<input #box4 (input)="getData(box4.value)" placeholder="input" type="text" name = "input" class="input" id="input">
<h1 (mouseover)="getData('yash')">yash bhosale</h1> -->

<!-- <div>
<input #box type="text" name="name" placeholder="your name" (keyup)="getNameD(box.value)">
<p id="display">box value is : {{displayval}}</p>

<button class="btn-primary" (click)="getName(box.value)">Click me </button>
</div> -->

<!-- //counter -->
<!-- <button (click)="counter('add')">++</button>
<button (click)="counter('minus')">--</button>
<p>Counter Value is  {{count}}</p> -->

<!-- property binding -->
<!-- <input type="text" name="user" value="{{name}}" disabled="{{disable}}">
<p></p>
<input type="text" name="user" [value]="name" [disabled]=disable>
 -->

<!-- if else condition -->
<!-- <button (click)="showcondition()">Show Condition</button>
 <h1 *ngIf="show; then ifBlock else elseBlock"> Welcome to Yash Bhosale Page</h1>
 <ng-template #ifBlock>
  <h3>if condition</h3>
 </ng-template>
 <ng-template #elseBlock>
  <h1> else conditon</h1>
 </ng-template> -->


<!-- switch case -->
<!-- <div [ngSwitch]="color">
  <h1 style="color: red;" *ngSwitchCase="'red'">Red color</h1>
  <h1 style="color: green;" *ngSwitchCase="'green'">Green color</h1>
  <h1 style="color: white;" *ngSwitchDefault>Default color</h1>
</div> -->

<!-- for loop -->
<!-- <h3 *ngFor="let item of userdetails">{{item.email}}</h3> -->


<!-- nested loop -->
<!-- <ul *ngFor="let user of arr">
  <li>Name: {{user.name}}</li>
  <li>Contact No: {{user.pno}}</li>
<li>SocialAccounts:</li> 
  <ul *ngFor="let n of user.socialacc">
    <li>{{n}}</li>
  </ul>

</ul> -->

<!-- style binding -->
<!-- <h1 [style.color]="color"> My Fav Color!!+
</h1> -->

<app-header></app-header>


<!-- forms in Angular -->
<!-- <form #basicform="ngForm" (ngSubmit)="getfData(basicform.value)">
  <input type="text" ngModel name="user" placeholder="Enter User name">
  <br><input type="text" ngModel name="useremail" placeholder="Enter User Email">
  <br><input type="text" ngModel name="userpassword" placeholder="Enter User Password">
  <br><button class="btn-primary">Register</button>
</form>

<p>{{dataa.user}}</p>
<p>{{dataa.useremail}}</p>
<p>{{dataa.userpassword}}</p> -->


<!-- //toggle element -->
<!-- <button (click)="Toggle()">Toggle</button>
<h1 *ngIf="display">Heading tag</h1> -->

<!-- //send data from parent to child component -->
 <!-- <app-child [item]="childdata"></app-child>
 <button (click)="updateChild()">Update child component</button>-->

<!-- reusable component -->
<!-- <ul *ngFor="let user of userDetails">
  <app-user-details [users]="user"></app-user-details>
</ul> -->

<!-- send data from child to parent component -->
<!-- <app-child-cto-p (updateDataevent)="updateChild($event)"></app-child-cto-p>
{{childdata}}
 -->

<!-- two way binding - update and display data at same time -->
<!-- <input type="text" [(ngModel)]="name">
{{name}} -->

<!-- pipes -->
<!-- {{title | lowercase}}<br>
{{title | uppercase}}<br>
{{title | slice : 3:6 | uppercase}}<br>

{{title }}
<br>{{date | date :"dd/mm/yyy"}}
<br>{{user| json}}
<br><h2>{{0.6595 | number: '5.3-3'}}</h2>
<br>{{20 | currency: 'GBP'}}
<br>{{"hellow how are you" |  titlecase}}

custom pipe
<br>{{20 | usdToInr: 100 : 25}} -->

<!-- form 
template driven form -->
<!-- <form #loginform="ngForm" (ngSubmit)="formdata(loginform.value)">
  <input ngModel type="text" placeholder="Enter your name" name="userid"><br>
  <input ngModel type="password" class="password" placeholder="Enter your password"   name="password"><br>
  <button class="btn">Submit</button>
</form> -->

<!-- reactive form in Angular -->
<!-- <form [formGroup]="loginform" (ngSubmit)="loginuser()">
<input ngModel formControlName="userid" type="text" placeholder="Enter your name" name="userid"><br>
<span style="color: maroon;" *ngIf="userid && userid.invalid && userid.touched">This field is required!!</span><br>
<input ngModel formControlName="password" type="password" class="password" placeholder="Enter your password"   name="password"><br>
<span style="color: maroon;" *ngIf="password && password.invalid && password.touched">This field is required!!</span><br>
<button type="submit" id="submit" class="btn" [disabled]="loginform.invalid">Submit</button>
</form>
 -->

<!-- //custom directive
<p appRedEL>kjhgyg {{title}}</p><br>
<p>jhvjugyb {{title}}</p> -->

<router-outlet></router-outlet>
<br>
<a routerLink="user/20">Yash</a>
<br>
<a routerLink="user/30">anwesha</a>
<br>
<a routerLink="user/40">sakshi</a>